<template>
    <button class="btn btn-info" v-on:click="onLoad">{{ title }}</button>
</template>

<script>
    export default {
        name: "LoadButton",
        props: ['onLoad', 'title']
    }
</script>